@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300&display=swap');


* {
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    /*font-family: 'Digital-7 Mono', arial;*/
}

body {
    /*background: linear-gradient(#ff6161, #34e56f);*/
    background: linear-gradient(#99B9FB, #6BDAFF);
    /*height: 100vh;*/
    width: 100vw;
}


/* ----------- Barre de navgation ------------ */
.navbar {
    color: white;
    text-align: center;
    height: 15vh;
    width: 100vw;
    box-shadow: 0 3px 15px #555555;
}

.title {
    padding-top: 4vh;
    font-size: 35px;
    color: #5f5f5f;
}


/* ----------- QCM ------------ */
.malchance {
    border-radius: 25px;
    background: transparent;
    border: 1px #3f45fd solid;
    width: 18%; 
    padding: 2%;
    margin: 3% 3% 3%;
    color: #5f5f5f;
    overflow: hidden;
    transition: all 0.3s;
    outline: none;
}


.malchance:hover {
    background-color: #5b81a4;
    color: #d3d3d3;
    border: none;
}



/* ----------- Boutons navbar ------------ */
.GameLink, .ScoreLink {
    font-size: 18px;
}



.GameLink {
    position: absolute;
    left: 5%;
    top: 3.52%;
    border-radius: 15px;
    background: transparent;
    border: 1px #5f5f5f solid;
    width: 15%; 
    height: 8%;
    color: #5f5f5f;
    overflow: hidden;
    transition: all 0.3s;
    outline: none;
}

.GameLink::before {
    content: "";
    position: absolute;
    background-color: #5f5f5f;
    height: 100%;
    top: 0;
    left: 0;
    width: 0;
    z-index: -1;
    border-radius: 15px;
    transition: 0.5s;
}

.GameLink:hover::before {
  width: 100%;
}

.GameLink:hover {
  color: #d3d3d3;
  border: none;
}



.ScoreLink {
    position: absolute;
    right: 5%;
    top: 3.52%;
    border-radius: 15px;
    background: transparent;
    border: 1px #5f5f5f solid;
    width: 15%; 
    height: 8%;
    color: #5f5f5f;
    overflow: hidden;
    transition: all 0.3s;
    outline: none;
}

.ScoreLink::before {
    content: "";
    position: absolute;
    background-color: #5f5f5f;
    height: 100%;
    top: 0;
    right: 0;
    width: 0;
    z-index: -1;
    border-radius: 15px;
    transition: 0.5s;
}

.ScoreLink:hover::before {
    width: 100%;
}

.ScoreLink:hover {
    color: #D3D3D3;
    border: none;
}



/* ----------- Responsive ------------ */
@media screen and (max-width: 1500px) {
    .navbar {
        height: 17vh;
    }
    
    .title {
        padding-top: 4vh;
    }
    
    .GameLink {
        left: 5%;
        /* top: 3.52%; */
        top: 3.52%;
        width: 25%;
        height: 8%;
    }

    .ScoreLink {
        right: 5%;
        /* top: 3.52%; */
        top: 3.52%;
        width: 25%; 
        height: 8%;
    }
}


@media screen and (max-width: 1080px) {
    .navbar {
        height: 24vh;
    }
    
    .title {
        padding-top: 4vh;
    }
    
    .GameLink {
        left: 14%;
        /* top: 3.52%; */
        top: 12vh;
        width: 28%;
        height: 8%;
    }

    .ScoreLink {
        left: 60%;
        /* top: 3.52%; */
        top: 12vh;
        width: 28%;
        height: 8%;
    }
}


@media screen and (max-width: 440px) {
    .navbar {
        height: 30vh;
    }
    
    .title {
        padding-top: 4vh;
    }
    
    .GameLink {
        left: 14%;
        /* top: 3.52%; */
        top: 18vh;
        width: 25%; 
        height: 8%;
    }

    .ScoreLink {
        left: 60%;
        /* top: 3.52%; */
        top: 18vh;
        width: 25%; 
        height: 8%;
    }
}


@media screen and (max-width: 950px) and (max-height: 480px) {
    .navbar {
        height: 28vh;
    }
    
    .title {
        padding-top: 4vh;
    }
    
    .GameLink {
        left: 14%;
        /* top: 3.52%; */
        top: 16vh;
        width: 25%; 
        height: 8%;
    }

    .ScoreLink {
        left: 60%;
        /* top: 3.52%; */
        top: 16vh;
        width: 25%; 
        height: 8%;
    }
}