@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300&display=swap');
* {
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    /*font-family: 'Digital-7 Mono', arial;*/
}

body {
    background: linear-gradient(#99B9FB, #6BDAFF);
}

/* Barre de navigation */
.navbar {
    color: white;
    text-align: center;
    height: 15vh;
    width: 100vw;
    box-shadow: 0 3px 15px #555555;
}

.title {
    padding-top: 4vh;
    font-size: 35px;
    color: #5f5f5f;
}

/*
audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel {
    background-color: #313C47;
}
*/


/* --------------- Boutton envoyer ------------- */
.submit {
    position: absolute;
    left: 42%;
    margin-bottom: 10vh;
    border-radius: 15px;
    background: transparent;
    border: 1px #5f5f5f solid;
    width: 15%;
    height: 8%;
    color: #5f5f5f;
    overflow: hidden;
    transition: all 0.3s;
    outline: none;
}

.submit::before {
    content: "";
    position: absolute;
    background-color: #5f5f5f;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 0;
    z-index: -1;
    border-radius: 15px;
    transition: 0.5s;
}

.submit:hover::before {
  height: 100%;
}

.submit:hover {
  color: #d3d3d3;
  border: none;
}





/* ----------- Choix ------------ */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
/* Cacher la checkbox originale */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Créer un boutton radio personalisé */
.checkmark {
    position: absolute;
    top: 0;
    right: 65vw;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* Gris quand on hover */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* Background bleu quand cliqué */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Rond blanc */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Rond blanc -> affiché quand cliqué */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* style du rond blanc */
.container .checkmark:after {
    top: 7.5px;
    left: 7.4px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: white;
}



/* ----------- Slider ------------ */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Cacher la checkbox originale */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Le slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Faire un rond */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/* ----------- Bouton Home ------------ */
.HomeLink {
    font-size: 18px;
}



.HomeLink {
    position: absolute;
    left: 5%;
    top: 3.52%;
    border-radius: 15px;
    background: transparent;
    border: 1px #5f5f5f solid;
    width: 15%; 
    height: 8%;
    color: #5f5f5f;
    overflow: hidden;
    transition: all 0.3s;
    outline: none;
}

.HomeLink::before {
    content: "";
    position: absolute;
    background-color: #5f5f5f;
    height: 100%;
    top: 0;
    left: 0;
    width: 0;
    z-index: -1;
    border-radius: 15px;
    transition: 0.5s;
}

.HomeLink:hover::before {
  width: 100%;
}

.HomeLink:hover {
  color: #d3d3d3;
  border: none;
}



/* ----------- Responsive ------------ */
@media screen and (max-width: 1500px) {
    .navbar {
        height: 17vh;
    }
    
    .title {
        padding-top: 4vh;
    }
    
    .HomeLink {
        left: 5%;
        /* top: 3.52%; */
        top: 3.52%;
        width: 25%;
        height: 8%;
    }
}


@media screen and (max-width: 1150px) {
    .checkmark {
        right: 75vw;
    }
}


@media screen and (max-width: 680px) {
    .checkmark {
        right: 92vw;
    }

    .submit {
        left: 39.5%;
        width: 20%;
    }
}

@media screen and (max-width: 320px) {
    .navbar {
        height: 30vh;
    }
    
    .title {
        padding-top: 4vh;
    }
    
    .HomeLink {
        left: 14%;
        /* top: 3.52%; */
        top: 18vh;
        width: 30%;
        height: 8%;
    }
}